<div class="container-md">
  <header class="header"></header>
  <ul class="lang-wrapper">
    <li><%= image_tag 'japan' %></li>
    <li><%= image_tag 'uk' %></li>
    <li><%= image_tag 'spain' %></li>
    <li><%= image_tag 'france' %></li>
    <li><%= image_tag 'china' %></li>
  </ul>
  <div class="row">
    <main class="main col-md-9"><!--9columns main-->
      <div class="input-box">
        <input type="text" class="input" placeholder="title"></input>
      </div>
      <div class="input-box">
        <textarea type="text" class="input" placeholder="content" cols="40" rows="20"></textarea>
      </div>
      <button type="button" class="button">SEND BUTTON</button>
    </main><!--9columns main-->
    <div class="sidebar col-md-3 sidebar-wrapper"><!--3columns sidebar-->
      <div class="sideblock">
        <p class="sideblock__title">カテゴリー</p>
        <ul class="sideblock__list">
          <li>旅</li>
          <li>言語学習</li>
          <li>健康</li>
        </ul>
      </div>
      <div class="sideblock">
        <p class="sideblock__title">タグ検索</p>
        <ul class="sideblock__list">
          <li># Japan</li>
          <li># Traveling</li>
          <li># Health</li>
        </ul>
      </div>
    </div><!--3columns sidebar-->
  </div>
</div>
<footer id="footer">
  <p id="footer__text">2020 ©️ mylog_yuna.</p>
  <%= link_to(new_article_path, method: :get) do %>
    <i class="fas fa-pen-nib"></i>
  <% end %>
</footer>