<div class="container-md">
  <header class="header"></header>
  <ul class="lang-wrapper">
    <li><%= image_tag 'japan' %></li>
    <li><%= image_tag 'uk' %></li>
    <li><%= image_tag 'spain' %></li>
    <li><%= image_tag 'france' %></li>
    <li><%= image_tag 'china' %></li>
  </ul>
  <div class="row">
    <main class="main col-md-9 contents-wrapper"><!--9columns main-->
      <div class="content-box">
        <h1 class="content-box__title"><%= @article.title %></h1>
        <div class="content-box__content">
          <%= @article.content %>
        </div>
      </div>
    </main><!--9columns main-->
    <div class="sidebar col-md-3 sidebar-wrapper"><!--3columns sidebar-->
      <div class="sideblock">
        <p class="sideblock__title">カテゴリー</p>
        <ul class="sideblock__list">
          <li>旅</li>
          <li>言語学習</li>
          <li>健康</li>
        </ul>
      </div>
      <div class="sideblock">
        <p class="sideblock__title">タグ検索</p>
        <ul class="sideblock__list">
          <li># Japan</li>
          <li># Traveling</li>
          <li># Health</li>
        </ul>
      </div>
    </div><!--3columns sidebar-->
  </div>
</div>
<footer id="footer">
  <p id="footer__text">2020 ©️ mylog_yuna.</p>
  <i class="fas fa-pen-nib"></i>
</footer>